<center>

<img src = "http://www.journaldugeek.com/files/2013/06/rickroll.gif"><br>

<h3>Lettin' off some steam</h3>
</center>

<div style="position: relative">
      <p style="position: fixed; bottom: 0; width:100%; text-align: right"><small>©®™ Joel.</small></p>
    </div>

