<center>

<img src = "http://www.journaldugeek.com/files/2013/06/rickroll.gif"><br>

<h3>Lettin' off some steam</h3>

SteamOutl.et is currently in pre-ALPHA, devtest by invite only.
<br><br><br>
<button type="button" class="btn btn-sm btn-edit">
	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
<span class="glyphicon glyphicon-shopping-cart"></span> Buy an invite today!</a>
</button>
</center>

<div style="position: relative">
      <p style="position: fixed; bottom: 0; width:100%; text-align: right"><small>©®™ Joel.</small></p>
</div>

