<center><h1>New listing</h1>

<%= render 'form' %>

<button type="button" class="btn btn-warning"><%= link_to '<span class="glyphicon glyphicon-list"></span> Back to listings'.html_safe, listings_path %></button></center>
